.task-col{
  border-right: 2px solid black;
}

.task-col-grey{
  background-color: #e9eaed;
  border-top: 7px solid #828c9d;
}

.task-col-yellow{
  background-color: #fef7c6;
  border-top: 7px solid #e9c700;
}

.task-col-red{
  background-color: #ffdcc9;
  border-top: 7px solid #ff3f00;
}

.task-col-purple{
  background-color: #f0def6;
  border-top: 7px solid #a74fc4;
}

.task-name{
  margin-top: 1px;
}

.task-name-col{
  max-height: 30px;
}

.row-task-icon{
  max-height: 30px;
}

.task-icon{
  width: 5%;
}

.task-group{
  width: 90%;
  margin-top: 0.8%;
}

.col-md-1{
  margin-left: 0.4%;
}

/*
Checkbox
 */
input[type="checkbox"]{
  border-radius: 1rem;
  width: 1.2rem;
  height: 1.2rem;
}

input[type="checkbox"]:checked{
  background-color: limegreen;
  border-color: #ffff;
}

input[type="checkbox"]:focus{
  box-shadow: none;
}


