<div class="container-fluid">
      <div class="row">
        <div class="col-md-3 task-col task-col-grey">
          <div class="row row-task-icon">
            <div class="col-md-1">
              <i-bs name="bell" width="20" height="20" class="task-icon"></i-bs>
            </div>
            <div class="col-md-10">
              <p class="task-group">Incoming</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" checked>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" checked>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" checked>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" checked>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 task-col task-col-yellow">
          <div class="row row-task-icon">
            <i-bs name="briefcase" width="20" height="20" class="task-icon"></i-bs>
            <p class="task-group">Work</p>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" checked>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" checked>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" checked>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" checked>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 task-col task-col-red">
          <div class="row row-task-icon">
            <i-bs name="alarm" width="20" height="20" class="task-icon"></i-bs>
            <p class="task-group">Work</p>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" checked>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" checked>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" checked>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="checkbox checkbox-info checkbox-circle">
                <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                  <input type="checkbox" class="form-check-input filled-in" checked>
                </div>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 task-col task-col-purple">
          <div class="row row-task-icon">
            <i-bs name="alarm" width="20" height="20" class="task-icon"></i-bs>
            <p class="task-group">Shop</p>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" checked>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" checked>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" checked>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <div class="checkbox checkbox-info checkbox-circle">
                <div class="form-check checkbox-rounded checkbox-living-coral-filled mb-2">
                  <input type="checkbox" class="form-check-input filled-in" checked>
                </div>
              </div>
            </div>
            <div class="col-md-10 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
        </div>
      </div>
</div>
