<div class="container-fluid">
      <div class="row">
        <div class="col-md-4 task-col task-col-grey">
          <div class="row row-task-icon">
            <i-bs name="bell" width="20" height="20" class="task-icon"></i-bs>
            <p class="task-group">Incoming</p>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <input type="checkbox">
            </div>
            <div class="col-md-11 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <input type="checkbox">
            </div>
            <div class="col-md-11 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <input type="checkbox">
            </div>
            <div class="col-md-11 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <input type="checkbox">
            </div>
            <div class="col-md-11 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 task-col task-col-yellow">
          <div class="row row-task-icon">
            <i-bs name="briefcase" width="20" height="20" class="task-icon"></i-bs>
            <p class="task-group">Work</p>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <input type="checkbox">
            </div>
            <div class="col-md-11 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <input type="checkbox">
            </div>
            <div class="col-md-11 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <input type="checkbox">
            </div>
            <div class="col-md-11 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <input type="checkbox">
            </div>
            <div class="col-md-11 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 task-col task-col-red">
          <div class="row row-task-icon">
            <i-bs name="alarm" width="20" height="20" class="task-icon"></i-bs>
            <p class="task-group">Work</p>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <input type="checkbox">
            </div>
            <div class="col-md-11 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <input type="checkbox">
            </div>
            <div class="col-md-11 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <input type="checkbox">
            </div>
            <div class="col-md-11 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
          <div class="row" style="background-color: white">
            <div class="col-md-1">
              <input type="checkbox">
            </div>
            <div class="col-md-11 task-name-col">
              <p class="task-name">Wohnung aufräumen</p>
            </div>
          </div>
        </div>
      </div>
</div>
